<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/main::main(
        ~{::title},       <!--/* title */-->
        <!--/*--------------------------*/-->
        <!--/*외부파일로 정의시*/-->
        ~{::link},              <!--/* styles */-->
        ~{},              <!--/* scripts */-->
        <!--/*내부태그로 정의시*/-->
        ~{::style},              <!--/* style */-->
        ~{},              <!--/* script */-->
        <!--/*--------------------------*/-->
        ~{::.upm-inner},  <!--/* upm */-->
        ~{::script},              <!--/* header */-->
        ~{::nav},         <!--/* nav */-->
        ~{::main},        <!--/* main */-->
        _                 <!--/* footer default*/-->
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 목록</title>
  <link rel="stylesheet" href="../css/notice/common.css" th:href="@{/css/notice/common.css}">
  <style>
    div{ outline: 1px solid red; }
    .cont{
      display: grid;
      grid-template-columns: 50px 1fr 100px 100px 70px;
      grid-auto-rows: 2em;
    }
    .btn-grp{
      display: flex;
      justify-content: flex-end;
    }

  </style>

</head>
<body>
<div class="global-wrap">
  <div class="upm">
    <div class="inner upm-inner">
      <th:block th:replace="~{fragment/uppermost::afterLoginUpm}"></th:block>
    </div>
  </div>
  <div class="hdr">
    <div class="inner hdr-inner">
      <header>header</header>
    </div>
  </div>
  <div class="gnb">
    <div class="inner gnb-inner">
      <nav th:replace="~{fragment/menu::global}"></nav>
    </div>
  </div>
  <div class="main">
    <div class="inner main-inner">
      <main>
        <div class="col">1</div>
        <div class="col">제목1</div>
        <div class="col">2022/02/22</div>
        <div class="col">10</div>
        <div class="col">NO</div>
        <div class="col">제목2</div>
        <div class="col">2022/02/22</div>
        <div class="col">20</div>
        <div class="col">NO</div>
        <div class="col">제목3</div>
        <div class="col">2022/02/21</div>
        <div class="col">5</div>
        <div class="col">NO</div>
        <div class="col">제목3</div>
        <div class="col">2022/02/21</div>
        <div class="col">5</div>
        <div class="col">NO</div>
        <div class="col">제목3</div>
        <div class="col">2022/02/21</div>
        <div class="col">5</div>
        <div class="col">NO</div>
        <div class="col">제목3</div>
        <div class="col">2022/02/21</div>
        <div class="col">5</div>
      </main>
    </div>
    <div class="foot">
      <div class="inner foot-inner">
        <footer>
          footer
        </footer>
      </div>
    </div>
  </div>
</div>
  <script>
    const $writeBtn = document.getElementById('writeBtn');
    $writeBtn.addEventListener('click',()=>{
      const url = `/notices`;
      location.href = url
    });
  </script>
</body>
</html>